.product__card{
    border: none;
    border-radius: 0.6rem;
    background-color: #FFF;
    box-shadow: 0 4px 24px 0 rgba(34,41,47,.1);
    transition: transform 0.3s ease-in-out;
}

.product__card.grid.dark,.product__card.list.dark{
    background-color: #283046;
}
.product__card.grid.dark .product__price,.product__card.list.dark .product__title a,.product__card.grid.dark .product__title a,
.product__card.grid.dark,.product__card.list.dark .product__description
{
    color: #a6a4b0;
}
.product__card.grid.dark .wishlist,.product__card.list.dark .wishlist
{
    background-color: #161d31;
    color: #FFF;
}
.product__card.grid
{
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product__card.list
{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.product__card.list div:first-child
{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product__card.list img
{
    width: 100%;
    height: 100%;
}
.product__card.list .product__card__body
{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.product__card.list .product__title
{
    order: 1;
}
.product__card.list .product__rating
{
    order: 2;
}
.product__card.list .product__description
{
    order: 3;
}

.product__card:hover
{
    transform: translateY(-1rem);
}
.product__card a
{
    display: block;
}
.product__card.grid img
{
    width: 100%;
}
.product__card__body{
    width: 100%;
    padding: 1.4rem;
}
.product__card.grid .product__card__body div:first-child
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.product__price
{
    text-align: right;
    flex-grow: 1;
    font-weight: 600;
    font-size: 1.4rem;
    color: #5e5873;
}
.product__card .product__description
{
    font-size: 1.2rem;
    margin-top: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}
.product__card.grid .product__description
{
    white-space: nowrap;
}
.product__card.list .product__description
{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    color: #6e6b7b;
    line-height: 2rem;
}
.product__card .product__title
{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color: #6e6b7b;
    font-size: 1.4rem;
}
.product__card .product__title small
{
    display: block;
    margin: 0.5rem 0 1rem;
}
.product__card.grid
{
    white-space: nowrap;
}
.product__title__brand
{
    color: #5e50ee;
}
.product__card__body h6 a:visited,a:link
{
    color: #6e6b7b;
}
.product__card.grid .product__buttons
{
    width: 100%;
    margin-top: auto;
}
.product__card.list .product__buttons
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product__card.list button
{
    margin-top: 1.4rem;
}
.product__card.list .product__buttons span:first-child
{
    font-size: 2rem;
    color: #7367f0;
    font-weight: 500;
}
.product__card .product__btn
{
    font-weight: 500;
    font-size: 1.4rem;
    padding: 1.1rem 2.1rem;
    border: 1px solid transparent;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product__card.grid .product__btn
{
    width: 100%;
}
.product__card.list .product__btn
{
    width: 90%;
    border-radius: .5rem;
}
.product__btn span
{
    margin-left: 1rem;
}
.wishlist
{
    color: #2a2e30;
    background-color: #f6f6f6;
}
.wishlist:hover
{
    background-color: #e3e3e3;
    border-color: #ddd;

}
.in__cart
{
    color: #FFF;
    background-color: #7367f0;
}
/*
*** media queries
*/
@media (max-width: 667px) {
    .product__card.list{
        grid-template-columns: 1fr;
    }
    .product__card.list .product__btn{
        margin-block: 5px;
    }
    .product__card.list div:first-child
    {
        min-width: 100%;
    }
    .product__card.list div:first-child img
    {
        display: block;
        width: 80%;
        margin: auto;

    }
    .product__card.grid .product__buttons
    {
        display: flex;
        justify-content: space-between;
    }
}
