.side__bar__item
{
    width: 100%;
    display: flex;
    align-items: center;
}

.side__bar__item:hover
{
    transform: translateX(5px);
    transition: transform .25s ease;
}
.side__bar__item a
{
    display: inline-flex;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 0 1.5rem;
    color: #625f6e;
    text-transform: capitalize;
}
.side__bar__item a.active
 {
     background: #f5f5f5;
     border-radius: 6px;
 }
.side__bar__item.dark a.active
{
    background-color: #161d31;
}
.side__bar__item div
{
    margin-right: 1.5rem;
}
.side__bar__item p.dark
{
    color: #d0d2d6;
}