.products__wrapper.grid__active .grid__btn
{
    background-color: rgba(115,103,240,.2);
}
.products__wrapper.list__active .list__btn
{
    background-color: rgba(115,103,240,.2);
}
.products__control__bar
{
    display: flex;
    justify-content: space-between;
}
.products__control__bar > div
{
    display: flex;
}

.products__control__bar span:first-child
{
    font-size: 1.4rem;
    font-weight: 500;
    color: #5e5873;
}
.products__control__bar.dark span:first-child
{
    color: #d0d2d6;
}
.products__control__bar.dark .products__control__sort__wrapper.show
{
    background-color: #283046;
}
.products__control__bar.dark .products__control__sort__wrapper.show li:hover,
.products__control__bar.dark .products__control__sort__wrapper.show li:hover label
{
    background-color: rgba(115,103,240,.12);
    color: #7367f0;
}

.products__control__bar.dark .products__control__sort__wrapper.show li label
{
    color: #b4b7bd;
}
.products__control__sort
{
    position: relative;
}
.products__control__sort__btn
{
    padding: 0.8rem 2.1rem;
    height: 100%;
    border: 1px solid #7367f0;
    border-radius: 0.5rem;
    background-color: transparent;
    color: #7367f0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.4rem;
    margin-right: 1rem;
}
.products__control__sort__wrapper
{
    display: none;
}
.products__control__sort__wrapper.show
{
    position: absolute;
    width: 100%;
    box-shadow: 0 5px 25px rgba(34,41,47,.1);
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.7rem 0;
    margin-top: 1rem;
    z-index: 1000;
}
.products__control__sort__wrapper li label
{
    padding: 1rem 1.7rem;
    display: block;
    color: #6e6b7b;
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: capitalize;
    cursor: pointer;
}
.products__control__sort__wrapper li label:hover
{
    color: #7367f0;
    background-color:rgba(115,103,240,.12);
}

.products__control__view
{
    width: fit-content;
    border: 1px solid #7367f0;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}
.products__control__view input
{
    display: none;
}
.products__control__sort__wrapper.show li input
{
    display: none;
}
.view__btn
{
    cursor: pointer;
    background-color: transparent;
    padding: 0.6rem;
}
.grid__btn
{
    border-right: 1px solid #7367f0;
}
.products__search__bar
{
    display: flex;
    align-items: center;
    background-color: #FFF;
    box-shadow: 0 2px 8px 0 rgba(34,41,47,.14);
    margin-top: 2rem;
    border-radius: 0.42rem;
    font-weight: 400;
    padding: 0.8rem 1.7rem;

}
.products__search__bar.dark
{
    background-color: #283046;
}
.products__search__bar.dark input:focus
{
    color: #b4b7bd;
}
.products__search__bar input
{
    flex-grow: 1;
    height: 3rem;
    color: #a6a4b0;
    font-size: 1.3rem;
    font-weight: 400;
}
.products__search__bar input:focus
{
    color: #6e6b7b;
}


