@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
html{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}
*,*::before,*::after
{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul,ol,li
{
  list-style: none;
}

a
{
  text-decoration: none;
}
button,input
{
  border: none;
  background-color:transparent;
}